/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
        align-items: center;
    padding: 20px 40px;
    background: rgba(0,0,0,0.6);
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00bcd4;
    text-decoration: underline;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-image: url(port4.jpg);
    background-size: cover;
    background-position: center;
     color: white;
    display: flex;
    flex-direction: column;
}

.hero h2 {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.hero p{
    margin-top: 40px;
     margin-bottom: 80px;
     text-align: center;
}