/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(0,0,0,0.6);
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00bcd4;
    text-decoration: underline;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-image: url(port4.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0097a7;
}

/* SECTIONS */
.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
}

/* PROJECTS */
.project {
    background: #f4f4f4;
    margin: 10px auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}